@page
@model RoleModel
@{
    ViewData["Title"] = "Azure Roles";
}

<section id="contact">
    <h2>Azure Role based access control</h2>
    <p>My day to day consists of working on three different Azure tenants; two of these are work related and consist of a Production, Stage, QA and UAT environment for websites and supporting workloads, such as SQL, Automation Accounts, Front Door and Monitor. The third tenant is my own personal tenant, which hosts this site as a showcase and has various services created in Storage Accounts, Automation Accounts and VMs.
    </p>
    <p>
    I administer all of these tenants as one of the primary Global Administrators, and central to this responsiblity is the practise of always following best practise. This includes following the principle of least privilege.
    </p>
    </section>
    <section>
    <h3 style="font-size: 18px;">Access Control (IAM) Roles</h3>


    </section>
